.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 1.48rem;
    height: .38rem;
    border-radius: .19rem;
    padding: 0 .2rem;
    font-size: .14rem;
    color: #FFF;
    background-color: #ff6b81;
}